<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Whisky By The Numbers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79311AF01CBEB90A00AF06BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79311B061CBEB90B00AF06BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79311B111CBEB90B00AF06BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
